@import 'imports/_mixins.scss';
@import 'imports/_normalize.scss';
@import 'imports/_vars.scss';

body {

  @include font-trebuchet();

  background: {
    color: $color_midasgold;
    repeat: no-repeat;
    position: center center;
    attachment: fixed;
  }

}

.wrapper {
  margin: 0 auto;
  overflow: hidden;

  @include bigphone {
    width: $bigphone-width;
  }

  @include tablet {
    width: $tablet-width;
  }

  @include desktop {
    width: $desktop-width;
  }

  @include bigscreen {
    width: $bigscreen-width;
  }
}

footer {
  text-align: center;
  background-color: $color_grey;
}

header {
  background-color: $color_white;
  padding: 60px 0;

  @include clearfix;

  .site-logo {
    img {
      @include img-flex;
    }
  }

  .site-title {
    &:link,
    &:active,
    &:visited {
      color: $color_black;
      font-size: 64px;
      text-decoration: none;
    }

    small {
      font-size: .5em;
    }
  }

  nav {
    @include tablet {
      ul {
        margin: 0;
        padding: 0;
        display: flex;
      }

      li {
        list-style: none;
        text-align: center;
        width: 25%;
        background-color: $color_midasgold;
        border-left: 1px solid darken($color_midasgold, 10);
        border-right: 1px solid lighten($color_midasgold, 10);

        &:first-child {
          border-left: none;
        }

        &:last-child {
          border-right: none;
        }
      }

      a {
        padding: 1.5em;
        display: block;
        color: $color_black;
        text-decoration: none;
        text-transform: uppercase;

        &:focus,
        &:hover {
          color: $color_white;
          background-color: darken($color_midasgold, 1);
        }
      }
    }
  }

  .site-brand {
    @include tablet {
      margin-bottom: 1em;
      display: flex;
      justify-content: center;
      align-items: center;

      .site-logo {
        width: 20%;
      }

      .site-title {
        width: 80%;
        padding-left: 20px;
      }
    }
  }
}

#services {
  background-color: rgba($color_white, .9);
  min-height: 100vh;

  .service {
    @include tablet {
      display: flex;
      margin-bottom: 5em;

      .service-body {
        width: 50%;
        display: flex;
        justify-content: center;
        align-content: flex-start;
        flex-direction: column;
      }

      .service-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
      }

      &.service-even  {
        .service-image {
          order: 0;
        }
        .service-body {
          order: 1;
        }
      }
    }
  }
}

#estimate {
  background-color: rgba($color_midasred, .9);
  color: $color_white;
  min-height: 50vh;
}

#testimonials {
  min-height: 100vh;
  background-color: rgba($color_midasgold, .9);
}

#about {
  background-color: rgba($color_white, .9);
  min-height: 100vh;
}

.slick-slider {
  margin-bottom: 0;

  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
}