@import 'imports/_mixins.scss';
@import 'imports/_normalize.scss';
@import 'imports/_vars.scss';

body {

  @include font-trebuchet();

  background: {
    color: $color_midasgold;
    image: url('/img/logo.png');
    repeat: no-repeat;
    position: center center;
    attachment: fixed;
  }

}

.wrapper {
  margin: 0 auto;
  background-color: rgba($color_white, .7);

  @include bigphone {
    width: $bigphone-width;
  }

  @include tablet {
    width: $tablet-width;
  }

  @include desktop {
    width: $desktop-width;
  }

  @include bigscreen {
    width: $bigscreen-width;
  }
}

footer {
  text-align: center;
  background-color: $color_grey;
}

.service {
  display: flex;
  padding: 60px 0;

  .service-body {
    width: 50%;
  }

  .service-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  &.service-even  {
    .service-image {
      order: 0;
    }
    .service-body {
      order: 1;
    }
  }

}