@import 'imports/_mixins.scss';
@import 'imports/_normalize.scss';
@import 'imports/_vars.scss';

body {

  @include font-trebuchet();

  background: {
    color: $color_midasgold;
    repeat: no-repeat;
    position: center center;
    attachment: fixed;
  }

}

.wrapper {
  margin: 0 auto;
  background-color: rgba($color_white, .7);

  @include bigphone {
    width: $bigphone-width;
  }

  @include tablet {
    width: $tablet-width;
  }

  @include desktop {
    width: $desktop-width;
  }

  @include bigscreen {
    width: $bigscreen-width;
  }
}

footer {
  text-align: center;
  background-color: $color_grey;
}

section {
  padding: 60px 30px;
  @include clearfix;

}

header {
  padding: 60px 30px;

  @include clearfix;

  .site-logo {
    img {
      @include img-flex;
    }
  }

  .site-title {
    &:link,
    &:active,
    &:visited {
      color: $color_black;
      font-size: 64px;
      text-decoration: none;
    }
  }

  nav {
    @include tablet {
      ul {
        margin: 0;
        padding: 0;
        display: flex;
      }

      li {
        list-style: none;
        text-align: center;
        width: 25%;
        background-color: $color_midasgold;
        border-left: 1px solid darken($color_midasgold, 10);
        border-right: 1px solid lighten($color_midasgold, 10);

        &:first-child {
          border-left: none;
        }

        &:last-child {
          border-right: none;
        }
      }

      a {
        padding: 1.5em;
        display: block;
        color: $color_black;
        text-decoration: none;
        text-transform: uppercase;

        &:focus,
        &:hover {
          color: $color_white;
          background-color: darken($color_midasgold, 1);
        }
      }
    }
  }

  .site-brand {
    @include tablet {
      margin-bottom: 1em;
      display: flex;
      justify-content: center;
      align-items: center;

      .site-logo {
        width: 20%;
      }

      .site-title {
        width: 80%;
        padding-left: 20px;
      }
    }
  }
}

.service {
  @include tablet {
    display: flex;

    .service-body {
      width: 50%;
      display: flex;
      justify-content: center;
      align-content: flex-start;
      flex-direction: column;
    }

    .service-image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
    }

    &.service-even  {
      .service-image {
        order: 0;
      }
      .service-body {
        order: 1;
      }
    }
  }
}

.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}