body {

  @include font-trebuchet();

  background-color: $color_midasgold;

  @include tablet {
    background-size: 600px;
  }
}

.site-background {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
  top: 0;
  left: 0;
  background: {
    color: $color_midasgold;
    repeat: no-repeat;
    position: center center;
    size: 100%;
  }
}

header {
  position: relative;
  background-color: $color_midasgold;

  @include tablet {
    background-color: $color_white;
    padding: 0;
  }

  .site-brand {
    //position: absolute;
    z-index: 100;
    height: 76px;
    width: 100%;
    background-color: rgba($color_midasgold, .7);

    a {
      display: block;
      height: 100%;
      width: 100%;
    }

    .site-logo {
      text-align: center;
    }

    .site-title {
      @include sr-only;
    }
  }

  .slider {
    position: relative;
    z-index: 0;

    .default-item {
      width: 100%;
      height: auto;
      background-position: top center;
      background-repeat: no-repeat;
      overflow: hidden;

      img {
        opacity: 0;
      }
    }
  }

  nav {
    position: relative;
    height: 50px;
    background-color: $color_midasgold;
    border-bottom: 1px solid darken($color_midasgold, 10);

    @include tablet {
      height: auto;
    }

    ul {
      display: none;
      margin: 0;
      padding: 0;

      @include tablet {
        display: flex;
        @include grid-col;
        @include grid-row;
      }
    }

    li {
      width: 100%;
      list-style: none;
      text-align: center;
      background-color: $color_midasgold;
      border-left: 1px solid darken($color_midasgold, 10);
      border-right: 1px solid lighten($color_midasgold, 10);

      @include tablet {
        width: 20%;
        font-size: .82em;
      }

      @include desktop {
        font-size: 1em;
      }

      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: none;
      }

      a {
        padding: 1.5em;
        display: block;
      }
    }

    a {
      color: $color_black;
      text-decoration: none;
      text-transform: uppercase;

      &:focus,
      &:hover {
        color: $color_white;
        background-color: darken($color_midasgold, 1);
      }
    }
  }

  .nav-mobile {
    @include tablet {
      display: none;
    }

    img {
      display: none;
    }

    .nav-button {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 50px;
      background: none;
      padding: 0;
      margin: 0;
      border: none;
    }
  }

  .sticky {
    .nav-mobile img {
      display: block;
    }
  }
}

#services {
  background-color: rgba($color_white, .9);
  min-height: 100vh;

  .service {
    display: block;
    margin-bottom: 5em;

    .service-image {
      text-align: center;
    }

    @include tablet {
      @include grid;

      .service-body {
        @include grid;
        @include grid-col;
        @include item(50%);
      }

      .service-image {
        @include grid;
        @include grid-center;
        @include item(50%);
        transform: rotate(-3deg);
      }

      &.service-even  {
        .service-image {
          order: 0;
          transform: rotate(3deg);
        }
        .service-body {
          order: 1;
        }
      }
    }
  }
}

#estimate {
  background-color: rgba($color_midasred, .9);
  color: $color_white;
  min-height: 50vh;
  height: 100vh;

  .grid {
    @include grid;
    @include grid-center;
    @include grid-col;
  }
}

#testimonials {
  min-height: 100vh;
  background-color: rgba($color_midasgold, .9);
}

#about {
  background-color: rgba($color_white, .9);
  min-height: 100vh;

  .map {
    filter: grayscale(75%);
    @include img-flex;
  }

  @include tablet {
    .grid {
      @include grid;
    }

    .item {
      padding: 0 1em;
      @include item(33%);
    }
  }
}

footer {
  padding: 30px 0;
  text-align: center;
  background-color: $color_grey;

  .site-slogan {
    color: $color_midasgold;
    font-size: 2em;
  }

  nav {
    margin-bottom: 1em;

    .nav-mobile {
      display: none;
    }

    ul, li {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    a {
      text-decoration: none;
      color: $color_midasgold;
      font-size: 2em;

      @include tablet {
        font-size: 1em;
      }
    }
  }

  small {
    color: $color_white;
  }

  .contact {
    color: $color_white;

    a {
      color: $color_white;
      text-decoration: none;
      font-size: 2em;

      span {
        font-size: .5em;
      }
    }
  }
}

#faq {
  background-color: rgba($color_white, .9);

  em {
    color: darken($color_midasgold, 10%);
  }
}

.button {
    border: 2px solid $color_white;
    padding: 1em 2em;
    color: $color_white;
    text-transform: uppercase;
    text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1776;
}

.hidden {
  display: none;
}
