body {

  @include font-trebuchet();

  background-color: $color_midasgold;

  @include tablet {
    background-size: 600px;
  }
}

.background {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
  top: 0;
  left: 0;
  background: {
    color: $color_midasgold;
    repeat: no-repeat;
    position: center center;
    size: 100%;
  }
}

header {
  background-color: $color_midasgold;

  @include tablet {
    background-color: $color_white;
    padding: 60px 0;
  }

  .site-logo {
    width: 100%;

    img {
      @include img-flex;
    }
  }

  .site-title {
    font-weight: normal;

    a {
      color: $color_black;
      text-decoration: none;

      @include tablet {
        font-size: 64px;
      }

      small {
        font-size: .5em;
      }
    }
  }

  nav {
    //@include tablet {
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        @include grid-col;

        @include tablet {
          @include grid-row;
        }
      }

      li {
        width: 100%;
        list-style: none;
        text-align: center;
        background-color: $color_midasgold;
        border-left: 1px solid darken($color_midasgold, 10);
        border-right: 1px solid lighten($color_midasgold, 10);

        @include tablet {
          width: 20%;
          font-size: .82em;
        }

        @include desktop {
          font-size: 1em;
        }

        &:first-child {
          border-left: none;
        }

        &:last-child {
          border-right: none;
        }
      }

      a {
        padding: 1.5em;
        display: block;
        color: $color_black;
        text-decoration: none;
        text-transform: uppercase;

        &:focus,
        &:hover {
          color: $color_white;
          background-color: darken($color_midasgold, 1);
        }
      }
    //}
  }

  .site-brand {
    @include tablet {
      margin-bottom: 1em;
      display: flex;
      justify-content: center;
      align-items: center;

      .site-logo {
        width: 20%;
      }

      .site-title {
        width: 80%;
        padding-left: 20px;
      }
    }
  }
}

#services {
  background-color: rgba($color_white, .9);
  min-height: 100vh;

  .service {
    display: block;
    margin-bottom: 5em;

    .service-image {
      text-align: center;
    }

    @include tablet {
      @include grid;

      .service-body {
        @include grid;
        @include grid-col;
        @include item(50%);
      }

      .service-image {
        @include grid;
        @include grid-center;
        @include item(50%);
        transform: rotate(-3deg);
      }

      &.service-even  {
        .service-image {
          order: 0;
          transform: rotate(3deg);
        }
        .service-body {
          order: 1;
        }
      }
    }
  }
}

#estimate {
  background-color: rgba($color_midasred, .9);
  color: $color_white;
  min-height: 50vh;
  height: 50vh;

  .grid {
    @include grid;
    @include grid-center;
    @include grid-col;
  }
}

#testimonials {
  min-height: 100vh;
  background-color: rgba($color_midasgold, .9);
}

#about {
  background-color: rgba($color_white, .9);
  min-height: 100vh;

  .map {
    filter: grayscale(75%);
    @include img-flex;
  }

  @include tablet {
    .grid {
      @include grid;
    }

    .item {
      padding: 0 1em;
      @include item(33%);
    }
  }
}

footer {
  padding: 30px 0;
  text-align: center;
  background-color: $color_grey;

  .site-slogan {
    color: $color_midasgold;
    font-size: 2em;
  }

  nav {
    margin-bottom: 1em;

    ul, li {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    a {
      text-decoration: none;
      color: $color_midasgold;
      font-size: 2em;

      @include tablet {
        font-size: 1em;
      }
    }
  }

  small {
    color: $color_white;
  }

  .contact {
    color: $color_white;

    a {
      color: $color_white;
      text-decoration: none;
      font-size: 2em;
    }
  }
}

#faq {
  background-color: rgba($color_white, .9);

  em {
    color: darken($color_midasgold, 10%);
  }
}

.button {
    border: 2px solid $color_white;
    padding: 1em 2em;
    color: $color_white;
    text-transform: uppercase;
    text-decoration: none;
}
