<nav class="nav">
  <div class="nav-mobile">
    <a href="{{ site.baseurl }}/" title="Midas Movers Home"><img src="{{site.logo}}" height="50px" /></a>
    <button class="nav-button">&#9776;</button>
  </div>

  <ul class="nav-menu">
    <li><a href="{{ site.baseurl }}/#services" title="Our Services">Our Services</a></li>
    <li><a href="{{ site.baseurl }}/#estimate" title="Get an Estimate">Get an Estimate</a></li>
    <li><a href="{{ site.baseurl }}/#testimonials" title="Testimonials">Testimonials</a></li>
    <li><a href="{{ site.baseurl }}/#about" title="About Us">About Us</a></li>
    <li><a href="{{ site.baseurl }}/faq" title="FAQ">FAQ</a></li>
  </ul>
</nav>
