<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.baseurl }}" />
<meta property="og:title" content="{{ site.title }}" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:image" content="{{ site.logo }}" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="{{ site.baseurl }}" />
<meta name="twitter:title" content="{{ site.title }}" />
<meta name="twitter:description" content="{{ site.description }}" />
<meta property="twitter:image" content="{{ site.logo }}" />