<div id="services">
  <div class="wrapper">
    <h2 class="title">Our Services</h2>
    <section class="service service-odd">
      <div class="service-body">
        <h3>Let Us Help You Move</h3>
        <p>We provide local residential or commercial moving services within the greater Philadelphia area as well as out of town moves to/from Philadelphia.</p>
      </div>
      <div class="service-image">
        <img src="{{ site.baseurl }}/img/service-1.jpg" />
      </div>
    </section>

    <section class="service service-even">
      <div class="service-body">
        <h3>Other Ways We Can Help</h3>
        <ul>
          <li>We can load and unload your vehicle or trailer. </li>
          <li>We can pick up and/or deliver furniture or appliance(s) you’ve recently bought or sold.</li>
          <li>We can pack your boxes before your move.</li>
          <li>We can also supply boxes, shrink wrap, paper, tape, etc. to make your move go smoothly.</li>
        </ul>
      </div>
      <div class="service-image">
        <img src="{{ site.baseurl }}/img/service-2.jpg" />
      </div>
    </section>

    <section class="service service-odd">
      <div class="service-body">
        <h3>The Details</h3>
        <p>Our hourly rate and truck fee includes no two hour minimum. After an hour we prorate to the nearest quarter hour.</p>
        <p>The hourly rate includes 3 polite, professional, and efficient movers. They'll have tools, wrap, and moving pads to disassemble/reassemble/protect items that need it.</p>
      </div>
      <div class="service-image">
        <img src="{{ site.baseurl }}/img/service-3.jpg" />
      </div>
    </section>
  </div>
</div>